body {
    margin: 0;
    font-family: Arial;
    background: #f6f0c4;
    overflow: hidden;
}

#authScreen {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

h1 {
    font-size: 60px;
    color: #5c3b00;
}

.authBox,
.tabBox {
    display: flex;
    flex-direction: column;

    gap: 10px;

    background: #ffd43b;

    padding: 30px;

    border-radius: 20px;

    width: 300px;
}

input {
    padding: 12px;

    border: none;

    border-radius: 10px;

    font-size: 16px;
}

button {
    padding: 12px;

    border: none;

    border-radius: 10px;

    background: #ffb703;

    cursor: pointer;

    font-size: 16px;

    font-weight: bold;
}

button:hover {
    background: #ff9800;
}

#authMessage {
    color: red;
}

#app {
    display: none;

    height: 100vh;
}

#sidebar {
    width: 220px;

    background: #ffd43b;

    padding: 20px;

    overflow-y: auto;

    box-sizing: border-box;
}

#onlineUsers {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.onlineUser {
    background: white;

    padding: 10px;

    border-radius: 10px;

    word-break: break-word;
}

#chatContainer {
    flex: 1;

    display: flex;

    flex-direction: column;
}

#messages {
    flex: 1;

    overflow-y: auto;

    padding: 20px;

    box-sizing: border-box;
}

.message {
    background: white;

    padding: 12px;

    border-radius: 12px;

    margin-bottom: 15px;

    max-width: 700px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.message p {
    margin: 5px 0 0 0;
}

.systemMessage {
    color: #555;

    margin-bottom: 15px;

    font-style: italic;
}

#inputArea {
    display: flex;

    gap: 10px;

    padding: 20px;

    background: #ffe066;
}

#messageInput {
    flex: 1;
}